.container-card {
    background-color: chartreuse;
    width: 300px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    text-decoration: none;

}

.title-list {
    
    list-style-type: none;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    
            
}

.link-card{
    text-decoration: none;
    color: rgb(0, 81, 255); 
}

.img-card {
    width: 250px;
    padding: 10px;
    border-radius: 10%;
    
  
}

.name-card{
    font-family: "Lacquer", system-ui;
    font-size: 40px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);

}

.name-specie{
    font-family: "Pangolin";
    font-weight: 600;
    color: black;
}